* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    padding: 10px;
    height: 100vh;
}

.cont {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    background: url(images/pattern-background-desktop.svg) no-repeat;
    border: 12px solid rgb(162, 38, 38);
    padding: 2px;
}

.cart {
    grid-column-start: 2;
    grid-row-end: 3;
    max-width: 450px;
    border: 10px solid rgb(119, 162, 38);
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
}

.main {
    padding: 20px;
    line-height: 30px;
    background: rgb(141, 66, 66);
    text-align: center;
}

.plan {
    background: rgb(66, 141, 73);  
    padding: 10px;
    display: grid;
   }
   
.footer {
    background: rgb(141, 66, 135);   
}